html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1D3461;
  padding-block: 10px;
}

.header-logo {
  font-family: Arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #bc1414;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0;
  text-shadow: 2px 2px #000000;
  padding: 10px;
}

.header-logo a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.header-nav-links {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  margin-right: 100px;
  
}

.header-nav-links a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
  padding-right: 10px;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #a3cdff;
}

.content {
  flex: 1;
}

.social-media svg{
  color: white;
  margin: 20px;
  font-size:  70px;
  cursor: pointer;
}

.footer {
  margin-top: auto;
  height: 200px;
  flex-shrink: 0;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer p {
  color: white;
}

.intro {
  width: calc(100% - 200px);
  margin-left: 100px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 200px);
  margin-left: 100px;
}

.title {
  text-align: center;
  margin: 0 auto;
}

.services-column {
  flex-basis: calc(33.33% - 20px);
  padding: 10px;
  box-sizing: border-box;
}

.footer-column {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}

.page-divider {
  border-top: 3px solid black;
  margin: 20px 0;
  width: calc(100% - 100px);
  margin-left: 50px;
}

/* .location {
  display: flex;
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
} */

button {
  transition: background-color 0.3s ease-in-out;
  padding: 10px;
  border: none;
  border-radius: 20px;
  margin-bottom: 20px;
}

button:hover {
  background-color: #1F487E; /* Dark green */
  color: white;
}